.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  min-width: 1440px;
  font-size: 24px;
  margin: 0 2em;
}

nav ul,
li {
  display: flex;
  flex-direction: row;
  margin: 0 2em;
}

nav a {
  text-decoration: none;
}
