.gallery {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 25px;
  margin-block: 2em;
  padding: 3rem;
  gap: 3.2em;
  @media screen and (max-width: 1250px) {
      background-color: white;
      margin-block: 0em;
  }
}
