@import "../../styles/GlobalVariables";

.notfound {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  min-height: 70vh;
  width: 70%;
  &__title,
  &__text {
    color: $main-color;
  }
  &__title {
    font-size: 12em;
  }
  &__text {
    font-size: 1em;
  }

  @media screen and (max-width: 444px) {
    &__title {
      font-size: 8em;
      margin: 0;
    }
    &__text {
      display: flex;
      justify-content: center;
      min-width: 100%;
    }
    &__link {
      font-size: 0.6em;
    }
  }
}
