body {
  margin-inline-start: 2rem;

  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  min-width: 100vw;
  margin: 0;

  @media screen and (max-width: 1024px) {
    min-width: 100vw;
    display: block;


  }
}
