* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  min-width: 100vw;
  min-height: 100%;
  margin: 0;

  @media screen and (max-width: 1024px) {
    max-width: 95%;
  }
}
