.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  background-color: black;
  color: white;
  width: 73%;
  max-width: 1240px;
  margin: auto;

  .footer-image {
    width: 8vw;
    padding-top: 2em;
  }

  .footer-text {
    color: white;
  }
}
