.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 2.07em;
  background-color: #f6f6f6;
  border-radius: 25px;
  gap: 2em;
  max-width: 1240px;
  object-fit: cover;
  @media screen and (max-width: 1595px) {
    background-color: white;
  }
}
