.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1240px;

  margin-block: 1em;
  padding: 2rem;
  gap: 2em;
  background-color: #f6f6f6;
  border-radius: 25px;
  margin-block: 1em;
  padding: 2rem;
  gap: 2em;
  position: relative;
}
