.housing {

  display: flex;
  width: 30%;
  border-radius: 25px;
  box-sizing: border-box;

  position: relative;
  min-width: 340px;
  min-height: 340px;
  box-sizing: border-box;

  & .housing-image {
    height: auto;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
  }
  & .housing-text {
    padding-left: 1em;
    position: absolute;
    width: 40%;
    height: 84%;
    color: white;
    font-weight: 700;
    display: flex;
    align-items: flex-end;
  }

  @media screen and (max-width: 1595px) {
    width: 90%;
    height: 25vh;
    gap: 2em;
  }

}
