.navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  max-width: 1240px;
  padding: 20px;
  & .navbar-logo {
    margin-right: auto;
  }
  & ul,
  & li {
    margin-right: 1rem;
    display: flex;
    gap: 2em;
    flex-wrap: nowrap;
  }
  & a {
    font-size: 2em;
    margin: auto;
    text-decoration: none;
    &:active {
      text-decoration: underline;
    }
  }
}
@media screen and (max-width: 751px) {
  .navbar {
    width: 100%;
    min-width: auto;
  }
}
