.navbar {
  display: flex;
  align-items: center;
  flex-direction: row;

  padding: 0.8rem;

  & .navbar__logo {
    margin-right: auto;
  }
  & ul,
  & li {
    display: flex;
    box-sizing: border-box;
    object-fit: cover;
    margin-right: 1rem;
    gap: 2em;
    flex-wrap: nowrap;
  }
  & a {
    font-size: 2em;
    margin: auto;
    text-decoration: none;
    &:active {
      text-decoration: underline;
    }
  }
  @media screen and (max-width: 750px) {
    .navbar__logo {
      width: 8em;
    }
    a {
      font-size: 12px;
    }
  }
}
