.footer {
  width: 100%;
  max-width: 1240px;
  padding-top: 20px;

  &,
  &__background,
  &__logo,
  &__text {
    color: white;
    display: flex;
    align-items: center;
  }
  &__background {
    background-color: black;
    width: 100vw;
    flex-direction: column;
  }

  &__logo {
    width: 5vw;
    padding-top: 2em;
    min-width: 10em;
  }
}
