.housing {
  width: 95%;
  color: #ff6060;

  &__first__block {
    width: 82%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
  }

  &__informations {
    display: flex;
    margin-inline-end: auto;
    align-items: center;
    flex-flow: row wrap;
  }
  &__title {
    font-size: 36px;
    font-weight: 500;
  }
  &__location {
    display: flex;
    font-size: 18px;
    font-weight: 500;
    color: black;
  }
  &__tag__list {
    min-width: 50%;
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    gap: 1em;
  }
  &__tag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    font-size: 0.8em;
    max-height: 15%;
    min-width: 15vh;
    padding: 0.6em 0.8em;
    font-weight: 700;
    background-color: #ff6060;
    border-radius: 1em;
    color: white;
  }
  &__second__block {
    .housing__host {
      width: 62%;

      &__information {
        display: flex;
        justify-content: flex-end;
      }
      &__name {
        width: 15%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 0;
      }
      &__picture {
        width: 75px;
        height: 75px;
        object-fit: cover;
        border-radius: 50px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 3px,
          rgba(0, 0, 0, 0.06) 0px 1px 2px;
      }
      &__rating {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-inline: auto 5em;
        font-size: 1em;
      }
    }
  }

  @media screen and (max-width: 1181px) {
    &__second__block,
    &__first__block {
      width: 85%;
      justify-content: center;
      align-items: center;
    }
    &__first__block {
      margin-inline-start: 2em;
    }
    &__second__block {
      display: flex;
      align-items: flex-end;
      justify-content: space-around;
      flex-direction: column;
      gap: 1rem;
      flex-wrap: wrap;
    }
    &__host__information {
      width: 50%;
      justify-content: center;
    }
    &__rating {
      width: 50%;
      margin: 0;
    }
  }
}
